body {
  background-image: url(https://free4kwallpapers.com/uploads/originals/2018/12/31/feather-clouds-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.header-bg {
  background-image: url(https://i.pinimg.com/originals/98/32/36/983236a02e5d7e4d62d85c35445b6563.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.footer-bg {
  background-image: url(https://i.pinimg.com/originals/98/32/36/983236a02e5d7e4d62d85c35445b6563.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas: "wsp inst"
 "copyr copyr";
  grid-template-rows: 1fr;
  grid-template-columns: 100px 100px 100px; }
  .footer-bg .whatsapp {
    grid-area: wsp; }
  .footer-bg .instagram {
    grid-area: inst; }
  .footer-bg .copy {
    grid-area: copyr; }

/*esto es solo para que se verifique mi capacidad de uso de mixin, de mapa en sass y cumplir con la consigna

  $grayscale: map-merge(
    (
      "100": #8E9AAF,
      "200": #CBC0D3,
      "300": #EFD3D7,
      "400": #FEEAFA,
      "500": #DEE2FF,
    ),
    $colorscale
);

etiqueta ejemplo {
    color: map-get($colorscale, 400);
}

  @mixin color-invertido {
    background-color: #111;
    color: #eee;
  }
  
  ejemplo de class {
  font-size: 1.3em;
  padding: 15px;
  @include color-invertido;
}

ejemplo de... div? supongo {
  padding: 5px;
  @include color-invertido;
}

Ejemplo de id {
  margin: 2em 3em;
  padding: 20px;
  text-align: center;
  @include color-invertido;
}

  */
